/.env
/.idea/
/.vscode/
/vendor/
/storage/update-backups/*
/storage/update-locks/*
/storage/update-work/*
/storage/github-downloads/*
/storage/module-backups/*
/storage/module-work/*
!/storage/.htaccess
/modules/*
!/modules/.htaccess
*.log
*.zip
.DS_Store
